<%= form_with model: element do |form| %>
  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="category"><%= @category_title %></span>
    <span class="input-group-text" style="width:150px;" id="category"><%= @season_title %></span>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="category">성상</span>
    <%= form.collection_select :category_id, @categories, :id, :name, {}, class: 'form-select' %>
    <% element.errors.full_messages_for(:category_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="w">수분(W)</span>
    <%= form.text_field :w, class: "form-control" %>
    <% element.errors.full_messages_for(:w).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="f">가연분(F)</span>
    <%= form.text_field :f, class: "form-control" %>
    <% element.errors.full_messages_for(:f).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->


  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="a">회분(A)</span>
    <%= form.text_field :a, class: "form-control" %>
    <% element.errors.full_messages_for(:a).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="a">C (탄소)</span>
    <%= form.text_field :c, class: "form-control" %>
    <% element.errors.full_messages_for(:c).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="a">H (수소)</span>
    <%= form.text_field :h, class: "form-control" %>
    <% element.errors.full_messages_for(:h).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="a">O (산소)</span>
    <%= form.text_field :o, class: "form-control" %>
    <% element.errors.full_messages_for(:o).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="a">N (질소)</span>
    <%= form.text_field :n, class: "form-control" %>
    <% element.errors.full_messages_for(:n).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="a">S (황)</span>
    <%= form.text_field :s, class: "form-control" %>
    <% element.errors.full_messages_for(:s).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="a">Cl (염소)</span>
    <%= form.text_field :cl, class: "form-control" %>
    <% element.errors.full_messages_for(:cl).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="season">계절</span>
    <%= form.select :season, [['봄', 'spring'], ['여름', 'summer'], ['가을', 'autumn'], ['겨울', 'winter']], {}, class: 'form-select' %>
    <% element.errors.full_messages_for(:season).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="hhv_temp">임시 고위 발열량</span>
    <%= form.text_field :hhv_temp, class: "form-control" %>
    <% element.errors.full_messages_for(:hhv_temp).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="input-group mb-5">
    <span class="input-group-text" style="width:150px;" id="lhv_temp">임시 저위 발열량</span>
    <%= form.text_field :lhv_temp, class: "form-control" %>
    <% element.errors.full_messages_for(:lhv_temp).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <!--end::Input group-->

  <div style="text-align: right;">
    <%= form.submit "저장하기", class: "btn btn-primary" %>
  </div>
<% end %>