<div id="<%= dom_id heat_value_prediction %>">
  <p>
    <strong>Total predicted heat:</strong>
    <%= heat_value_prediction.total_predicted_heat %>
  </p>

  <p>
    <strong>Total combustion air heat:</strong>
    <%= heat_value_prediction.total_combustion_air_heat %>
  </p>

  <p>
    <strong>Total aux fuel heat:</strong>
    <%= heat_value_prediction.total_aux_fuel_heat %>
  </p>

  <p>
    <strong>Total exhaust gas heat:</strong>
    <%= heat_value_prediction.total_exhaust_gas_heat %>
  </p>

  <p>
    <strong>Total heat loss:</strong>
    <%= heat_value_prediction.total_heat_loss %>
  </p>

  <p>
    <strong>Total residual ash heat:</strong>
    <%= heat_value_prediction.total_residual_ash_heat %>
  </p>

  <p>
    <strong>Total unburned carbon heat:</strong>
    <%= heat_value_prediction.total_unburned_carbon_heat %>
  </p>

  <p>
    <strong>Actual heat value:</strong>
    <%= heat_value_prediction.actual_heat_value %>
  </p>

  <p>
    <strong>Heat value pred accuracy:</strong>
    <%= heat_value_prediction.heat_value_pred_accuracy %>
  </p>

  <p>
    <strong>Prev heat value pred accuracy:</strong>
    <%= heat_value_prediction.prev_heat_value_pred_accuracy %>
  </p>

  <p>
    <strong>Avg heat value pred accuracy:</strong>
    <%= heat_value_prediction.avg_heat_value_pred_accuracy %>
  </p>

</div>
