<div class="d-flex flex-column flex-column-fluid">
  <!--begin::Content-->
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
      <div class="row g-3 gx-xl-3 mb-5 mb-xl-5">
        <!--begin::Col-->
        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-md-0 mb-xl-0" style="position: relative; display: flex; justify-content: center; align-items: center; height: 100%;">
          <%= image_tag "/assets/media/images/facility_1.png", class: "w-100 card-rounded" %>
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 28%; left: 70%;">
            <span id="temp_0">0</span>°C<!-- TE102 -->
          </div>
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 42.4%; left: 50.2%;">
            <span id="temp_1">0</span>°C<!-- TE101 -->
          </div>
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 40.3%; left: 83%;">
            <span id="temp_2">0</span><!-- FM101 -->
          </div>
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 57.9%; left: 77.4%;">
            <span id="temp_3">0</span><!-- FM104 -->
          </div>
<!--          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 57.9%; left: 82.4%;">-->
<!--            <span id="temp_4">0</span>--><!-- FM104 TOTAL -->
<!--          </div>-->
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 66.8%; left: 23.6%;">
            <span id="temp_5">0</span><!-- FM101A -->
          </div>
<!--          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 66.8%; left: 22.4%;">-->
<!--            <span id="temp_6">0</span>--><!-- FM101A TOTAL -->
<!--          </div>-->
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 83.4%; left: 23.6%;">
            <span id="temp_7">0</span><!-- FM101B -->
          </div>
<!--          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 83.4%; left: 22.4%;">-->
<!--            <span id="temp_8">0</span>--><!-- FM101B TOTAL -->
<!--          </div>-->
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 18.2%; left: 49%;">
            <span id="temp_9">0</span><!-- FM102A -->
          </div>
<!--          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 22.2%; left: 44%;">-->
<!--            <span id="temp_10">0</span>--><!-- FM102A TOTAL -->
<!--          </div>-->
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 30.8%; left: 49%;">
            <span id="temp_11">0</span><!-- FM102B -->
          </div>
<!--          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 34.8%; left: 44%;">-->
<!--            <span id="temp_12">0</span>--><!-- FM102B TOTAL -->
<!--          </div>-->
          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 40.3%; left: 77.4%;">
            <span id="temp_13">0</span><!-- FM103 -->
          </div>
<!--          <div class="overlay-text text-white fs-bold " style="scale: 75%; position: absolute; top: 40.3%; left: 72.4%;">-->
<!--            <span id="temp_14">0</span>--><!-- FM103 TOTAL -->
<!--          </div>-->
        </div>
      </div>
      <!--end::Row-->
      <!--begin::Row-->
      <div class="row g-3 gx-xl-3 mb-5 mb-xl-5">
        <!--begin::Col-->
        <div class="col-md-12 col-lg-12 col-xl-6 col-xxl-6 mb-md-0 mb-xl-0">
          <!--begin::Card widget 17-->
          <%= link_to cal_marks_path do %>
            <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-end h-md-200px mb-0 mb-xl-0" style="background-color: #F1416C;background-image:url('/assets/media/patterns/vector-1.png')">
              <!--begin::Header-->
              <div class="card-header pt-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                  <!--begin::Info-->
                  <div class="d-flex align-items-center">
                    <!--begin::Currency-->
                    <span class="fs-2qx fw-semibold text-gray-400 me-1 align-self-start">&#128293;</span>
                    <!--end::Currency-->
                    <!--begin::Amount-->
                    <span class="fs-2qx fw-bold text-gray-300 me-2 lh-1 ls-n2">발열량 범위</span>
                    <!--end::Amount-->
                  </div>
                  <!--end::Info-->
                  <!--begin::Subtitle-->
                  <span class="text-gray-400 pt-1 fw-semibold fs-6">현재 적용된 발열량 범위 입니다.</span>
                  <!--end::Subtitle-->
                </div>
                <!--end::Title-->
              </div>
              <!--end::Header-->
              <!--begin::Card body-->
              <div class="card-body pt-2 pb-5 d-flex flex-wrap align-items-center">
                <!--begin::Labels-->
                <div class="d-flex flex-column content-justify-center flex-row-fluid">
                  <!--begin::Label-->
                  <div class="d-flex fw-semibold align-items-center">
                    <!--begin::Bullet-->
                    <div class="bullet w-8px h-3px rounded-2 bg-success me-3"></div>
                    <!--end::Bullet-->
                    <!--begin::Label-->
                    <div class="fs-5 text-success flex-grow-1 me-4 fw-bold">저 발열량&nbsp;&nbsp;&#128293;</div>
                    <!--end::Label-->
                    <!--begin::Stats-->
                    <div class="fs-5 fw-bolder text-gray-300 text-xxl-end">0 부터 <%= @range.low %> 이하</div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Label-->
                  <!--begin::Label-->
                  <div class="d-flex fw-semibold align-items-center my-3">
                    <!--begin::Bullet-->
                    <div class="bullet w-8px h-3px rounded-2 bg-primary me-3"></div>
                    <!--end::Bullet-->
                    <!--begin::Label-->
                    <div class="fs-5 text-primary flex-grow-1 me-4 fw-bold">중 발열량&nbsp;&nbsp;&#128293;&#128293;</div>
                    <!--end::Label-->
                    <!--begin::Stats-->
                    <div class="fs-5 fw-bolder text-gray-300 text-xxl-end"><%= @range.low + 1 %> 부터 <%= @range.middle %>
                      이하
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Label-->
                  <!--begin::Label-->
                  <div class="d-flex fw-semibold align-items-center">
                    <!--begin::Bullet-->
                    <div class="bullet w-8px h-3px rounded-2 bg-warning me-3"></div>
                    <!--end::Bullet-->
                    <!--begin::Label-->
                    <div class="fs-5 text-warning flex-grow-1 me-4 fw-bold">고
                      발열량&nbsp;&nbsp;&#128293;&#128293;&#128293;
                    </div>
                    <!--end::Label-->
                    <!--begin::Stats-->
                    <div class="fs-5 fw-bolder text-gray-300 text-xxl-end"><%= @range.middle + 1 %> 이상</div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Labels-->
              </div>
              <!--end::Card body-->
            </div>
            <!--end::Card widget 17-->
          <% end %>
        </div>
        <!--end::Col-->
        <div class="col-md-12 col-lg-12 col-xl-6 col-xxl-6 mb-md-0 mb-xl-0">
          <!--begin::Card widget 20-->
          <div class="card card-flush h-md-200px mb-0 mb-xl-0">
            <!--begin::Header-->
            <div class="card-header pt-5">
              <!--begin::Title-->
              <div class="card-title d-flex flex-column <%= "opacity-25" if @temp_element.nil? %>">
                <!--begin::Amount-->
                <%= link_to temp_elements_path, class: "btn btn-flex btn-warning px-4 py-2" do %>
                  <i class="ki-duotone ki-test-tubes fs-2x text-white">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    <span class="path5"></span>
                    <span class="path6"></span>
                    <span class="path7"></span>
                    <span class="path8"></span>
                    <span class="path9"></span>
                    <span class="path10"></span>
                  </i>
                  <span class="d-flex flex-column align-items-start ms-2">
                      <span class="fs-5 fw-bold">임시 성분 데이터</span>
                    <!--begin::Bullet-->
                      <div class="bullet w-125px h-2px rounded-2 bg-white me-3"></div>
                    <!--end::Bullet-->
                      <span class="fs-7"><%= translate_season(get_season) %></span>
                    </span>
                <% end %>
                <!--end::Amount-->
                <!--begin::Subtitle-->
                <span class="text-gray-700 pt-1 fw-semibold fs-6 lh-xxl">
                  <span class="badge badge-outline badge-primary fs-base">
                    수분 <%= @temp_element.w unless @temp_element.nil? %>
                  </span>
                  <span class="badge badge-outline badge-danger fs-base">
                    가연분 <%= @temp_element.f unless @temp_element.nil? %>
                  </span>
                  <span class="badge badge-outline badge-success fs-base">
                    회분 <%= @temp_element.a unless @temp_element.nil? %>
                  </span>
                  <br/>
                  <span class="badge badge-dark fs-base">
                    C: <%= @temp_element.c unless @temp_element.nil? %>
                  </span>
                  <span class="badge badge-secondary fs-base">
                    H: <%= @temp_element.h unless @temp_element.nil? %>
                  </span>
                  <span class="badge badge-danger fs-base">
                    O: <%= @temp_element.o unless @temp_element.nil? %>
                  </span>
                  <span class="badge badge-primary fs-base">
                    N: <%= @temp_element.n unless @temp_element.nil? %>
                  </span>
                  <span class="badge badge-warning fs-base">
                    S: <%= @temp_element.s unless @temp_element.nil? %>
                  </span>
                  <span class="badge badge-success fs-base">
                    Cl: <%= @temp_element.cl unless @temp_element.nil? %>
                  </span>
                  <!--end::Subtitle-->
                </span>
              </div>
              <!--end::Title-->
            </div>
            <!--end::Header-->
          </div>
          <!--end::Card widget 20-->
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Row-->
      <div class="row g-3 gx-xl-3 mb-5 mb-xl-10">
        <% ["고상", "액상"].each do |keyword| %>
          <% @categories_batch = Category.where("name LIKE ?", "%#{keyword}%") %>
          <% @categories_batch.each do |category| %>
            <!--begin::Col-->
            <div class="col-md-12 col-lg-6 col-xl-4 col-xxl-3 mb-md-0 mb-xl-0">
              <% element = Element.where(category_id: category.id).where(season: get_season).order(id: :desc).first %>
              <!--begin::Card widget 20-->
              <div class="card card-flush h-md-175 mb-0 mb-xl-0 <%= "opacity-25" if element.nil? or @temp_element.present? %>">
                <!--begin::Header-->
                <div class="card-header pt-5 pb-4">
                  <!--begin::Title-->
                  <div class="card-title d-flex flex-column">
                    <!--begin::Amount-->
                    <%= link_to elements_path(category: category.code), class: "btn btn-flex btn-#{category.name.include?("고상") ? "success" : "primary"} px-4 py-2" do %>
                      <i class="ki-duotone ki-cube-2 fs-2x text-white">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                        <span class="path7"></span>
                        <span class="path8"></span>
                        <span class="path9"></span>
                        <span class="path10"></span>
                      </i>
                      <span class="d-flex flex-column align-items-start ms-2">
                      <span class="fs-5 fw-bold"><%= category.name %></span>
                        <!--begin::Bullet-->
                      <div class="bullet w-125px h-2px rounded-2 bg-white me-3"></div>
                        <!--end::Bullet-->
                      <span class="fs-7"><%= translate_season(get_season) %></span>
                    </span>
                    <% end %>
                    <!--end::Amount-->
                    <!--begin::Subtitle-->
                    <span class="text-gray-700 pt-1 fw-semibold fs-6 lh-xxl">
                      <span class="badge badge-outline badge-primary fs-base">
                        수분 <%= element.w unless element.nil? %>
                      </span>
                      <span class="badge badge-outline badge-danger fs-base">
                        가연분 <%= element.f unless element.nil? %>
                      </span>
                      <span class="badge badge-outline badge-success fs-base">
                        회분 <%= element.a unless element.nil? %>
                      </span>
                      <br/>
                      <span class="badge badge-dark fs-base">
                        C: <%= element.c unless element.nil? %>
                      </span>
                      <span class="badge badge-secondary fs-base">
                        H: <%= element.h unless element.nil? %>
                      </span>
                      <span class="badge badge-danger fs-base">
                        O: <%= element.o unless element.nil? %>
                      </span>
                      <span class="badge badge-primary fs-base">
                        N: <%= element.n unless element.nil? %>
                      </span>
                      <span class="badge badge-warning fs-base">
                        S: <%= element.s unless element.nil? %>
                      </span>
                      <span class="badge badge-success fs-base">
                        Cl: <%= element.cl unless element.nil? %>
                      </span>
                      <br/>
                      <span class="badge badge-light-danger fs-base">
                        임시 고위 발열량: <%= element.hhv_temp if !element.nil? and !element.hhv_temp.blank? %>
                      </span>
                      <span class="badge badge-light-warning fs-base">
                        임시 저위 발열량: <%= element.lhv_temp if !element.nil? and !element.lhv_temp.blank? %>
                      </span>
                      <!--end::Subtitle-->
                  </span>
                  </div>
                  <!--end::Title-->
                </div>
                <!--end::Header-->
              </div>
              <!--end::Card widget 20-->
            </div>
            <!--end::Col-->
          <% end %>
        <% end %>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Content container-->
  </div>
  <!--end::Content-->
</div>